body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
    position: relative;
    background-color: black;
    color: white;
  }
  
  .navbar {
    font-family: Arial, sans-serif;
    background: rgb(1,0,15);
    background: linear-gradient(90deg, rgba(1,0,15,1) 21%, rgba(16,16,105,1) 100%, rgba(0,212,255,1) 100%);
    overflow: hidden;
    font-size: 22px;
    display: flex;
    
 
    
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 28px;
    text-decoration: none;
    z-index: 2;
  }
  
  .navbar a:hover {
    background-color: slateblue;
    color: #000420;
    z-index: 2;
  }

  main{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  main h1{
    font-size: 100px;
    font-weight: 700;
    text-decoration: underline #80ffdb;
    text-align: center;
    

  }

  .about {
    font-size: 28px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    text-align: center;
    margin-bottom: 100px;
    
  }

  .container{
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
   

  }

  .container h2{

    font-size: 70px;
    font-weight: 500;
    text-decoration:underline #80ffdb ;
    

  }

 .aim , .scope{
  font-size: 25px;
  font-weight: 500;
  margin-left: 100px;
  margin-right: 100px;
  text-align: justify;
 }

 .aim{
  margin-top: 150px;
 }

 .bg{
  background: url(./about3.jpg) center/cover no-repeat;
  
 }

 main{
  background: rgb(213,65,212);
  background: linear-gradient(0deg, rgba(213,65,212,1) 0%, rgba(7,7,70,1) 15%, rgba(0,0,0,1) 95%);
 }


 header img{
  width: 55px;
  height: 50px;
  color: #80ffdb;
  position: relative;
  z-index: 3;
  left: 1050px;
}